@import url(./flex.scss); // flex 布局
@import url(./length.scss); // 宽高 布局
@import url(./spacing.scss); // 内外边距
@import url(./font.scss); // 内外边距

h1,
h2,
h3,
h4,
p,
div,
article,
ul,
li,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

.b-pointer {
  cursor: pointer;
}

.over-hidden {
  overflow: hidden;
}