.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.wh-full {
  width: 100%;
  height: 100%;
}

.vwh-full {
  width: 100vw !important;
  height: 100vh !important;
}

$lenSize: 240;

@each $size in $lenSize {
  .w#{$size} {
    width: #{$size}px;
  }

  .h#{$size} {
    height: #{$size}px;
  }
}